<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width,initial-scale=1.0">
        <title>Cadastro - Access Control System</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>

        <h1 class="title">Access Control System</h1>

        <div class="register-container">
            <h2>Cadastre-se</h2>

            <form method="post" action="/auth/register">
                <input type="text" name="name" placeholder="Nome Completo" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Senha" required>
                <input type="password" name="confirm_password" placeholder="Confirmar senha" required>


                <button type="submit">Cadastrar</button>
            </form>

            <div clas="back">
                <a href="/auth/login">← Voltar para login</a>
            </div>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>


</body>
</html>