* {
    box-sizing: border-box;
}

body {
        margin: 0;
        font-family: Arial,Sans-serif;
        background-color: #f4f6f8;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.title{
    color: #2c3e50;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.register-container {
    background:white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

.register-container h2{
    margin-bottom: 1rem;
    color: #2c3e50;
}

input {
    width: 100%;
    padding: 0.9rem;
    margin: 0.6rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 1rem;
    background-color:#3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

button:hover {
    background-color: #66cfcf;
}

.back {
    margin-top: 1rem;
}

.back a {
    color: #3498db;
    text-decoration: none;
}

.back a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 1rem;
}